{% extends 'course/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock %}

{% block content %}
    <h1>Курси</h1>
    <div id="courses">
        {% for task in all_tasks %}
            <div class="course-block">
                <div class="course-icon-block clickable-task" data-task-url="{% url 'task_detail' task.id %}">
                    <img src="{% static 'images/finished.png' %}" alt="finished-img" class="course-imgs">
                </div>

                <div class="task-change-icons">
                    <form method="post" id="delete-task-form" action="">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{task.id}}">
                        <button type="submit" name="delete_task" class="delete-task-btn"><img src="{% static 'images/delete.png' %}" alt="change-task-img" class="small-course-imgs"></button>
                    </form>
                </div>

                <div class="task-name-popup" data-task-url="{% url 'task_detail' task.id %}">{{task.name}}</div>
            </div>
        {% endfor %}

        <div class="course-block add-task-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <div class="course-icon-block add-task-icon-block">
                <img src="{% static 'images/add.png' %}" alt="add-img" class="course-imgs">
            </div>
            <button type="button" class="courses-buttons"><p class="course-text">Додати</p></button>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
                <div class="add-change-task-name">
                    <form action="" method="post" id="addnameform" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="course-text">Додайте назву завданню:</p>
                        <input type="text" maxlength="10" name="taskname">
                        <input type="file" name="taskfile">
                        
                        <p id="error-message"></p>

                        <input type="submit" value="Створити" name="add_task">
                    </form>
                </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
{% endblock %}