{% extends 'course/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <script src="{% static 'js/elements_sortable.js' %}" defer></script>
    <script src="{% static 'js/selecting_module.js' %}" defer></script>

    <meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block content %}
    <h1>Курси</h1>
    <div class="all-course-block">
        <div id="coursehead">
            <h1>МОДУЛІ</h1>
            <div id="modules-list">
                {% for module in modules %}
                    <div class="module-block" data-module-id="{{module.id}}">
                        <h3 class="module-name" data-module-id="{{module.id}}">{{module.module_name}}</h3>
                        {% if user_status == 'teacher' %}
                            <form method="post" id="delete-module-form" action="">
                                {% csrf_token %}
                                <input type="hidden" name="module_id" value="{{module.id}}">
                                <button type="submit" name="delete_module" class="delete-lesson-btn" id="delete-button-{{module.id}}" data-bs-toggle="modal" data-bs-target="#ModuleDeletingConfirmModal">
                                    <img src="{% static 'images/delete.png' %}" alt="delete-module-img" class="delete-lessons-icon">
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="courses">
            {% if user_status == 'teacher' %}
                <input type="hidden" id="user-status" value="{{user_status}}">
                <div class="adding-block">
                    <button type="button" class="courses-buttons" data-bs-toggle="modal" data-bs-target="#exampleModuleModal"><p class="course-text">Створити модуль</p></button>
                    <button type="button" class="courses-buttons" data-bs-toggle="modal" data-bs-target="#exampleLessonModal"><p class="course-text">Створити урок</p></button>
                    <button type="button" class="courses-buttons" data-bs-toggle="modal" data-bs-target="#exampleModal"><p class="course-text">Додати завдання</p></button>
                </div>
            {% endif %}

            <div class="lessons" data-module-id="{{current_module_id}}">
                <!-- {% for lesson_with_tasks in lessons_with_tasks %}
                    <div class="lessons-from-backend" id="module-lesson-id-{{lesson_with_tasks.lesson.module_id}}" data-lesson-id="{{lesson_with_tasks.lesson.id}}">
                        <div class="lesson-head">
                            <h4 class="lesson-name">{{lesson_with_tasks.lesson.lesson_name}}</h3>
                                {% if user_status == 'teacher' %}
                                    <form method="post" class="delete-lesson-form-{{lesson_with_tasks.lesson.id}}" id="delete-lesson-formid" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="lesson_id" value="{{lesson_with_tasks.lesson.id}}">
                                        {% if lesson_with_tasks.lesson.can_delete == 1 %}
                                        <button type="submit" name="delete_lesson" class="delete-lesson-btn" id="delete-button-{{lesson_with_tasks.lesson.id}}"><img src="{% static 'images/delete.png' %}" alt="delete-lesson-img" class="delete-lessons-icon"></button>
                                        {% endif %}
                                    </form>
                                {% endif %}
                        </div>

                        <div class="lesson-tasks" data-lesson-id="{{lesson_with_tasks.lesson.id}}">
                            {% for task in lesson_with_tasks.tasks %}
                                <div class="course-block" id="module-task-id-{{lesson_with_tasks.lesson.module_id}}">
                                    <div class="course-icon-block clickable-task" data-task-url="{% url 'task_detail' task.id %}">
                                        <img src="{% static 'images/finished.png' %}" alt="finished-img" class="course-imgs">
                                    </div>
                                    <div class="task-change-icons">
                                        {% if user_status == 'teacher' %}
                                            <form method="post" class="delete-task-form" action="">
                                                {% csrf_token %}
                                                <input type="hidden" name="task_id" value="{{task.id}}">
                                                <input type="hidden" name="lesson_id" value="{{lesson_with_tasks.lesson.id}}">
                                                <button type="submit" name="delete_task" class="delete-task-btn" data-bs-toggle="modal" data-bs-target="#TaskDeletingConfirmModal">
                                                    <img src="{% static 'images/delete.png' %}" alt="change-task-img" class="small-course-imgs">
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="task-name-popup" data-task-url="{% url 'task_detail' task.id %}">{{task.task_name}}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %} -->
            </div>
            <p id="no-lessons-message">В цьому модулі ще немає уроків</p>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="add-change-task-name">
                            <form action="" method="post" id="addnameform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <select id="dropdown-lessons" name="dropdown-lessons">
                                    {% for lesson_with_tasks in lessons_with_tasks %}
                                        <option value="{{lesson_with_tasks.lesson.id}}">{{lesson_with_tasks.lesson.lesson_name}}</option>
                                    {% endfor %}
                                </select>
                                <p class="course-text">Додайте назву завданню:</p>
                                <input type="text" maxlength="10" name="taskname">
                                <p>Речення:</p>
                                <input type="file" name="taskfile">
                                <p>Додаткові слова:</p>
                                <input type="file" name="additional_words_file">
                                
                                <p id="error-message"></p>

                                <input type="submit" value="Створити" name="add_task">
                            </form>
                        </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleLessonModal" tabindex="-1" aria-labelledby="exampleLessonModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="add-change-lesson-name">
                            <form action="" method="post" id="addlessonform">
                                {% csrf_token %}
                                <p class="course-text">Виберіть модуль для уроку:</p>
                                <select id="dropdown-modules" name="module_id">
                                    {% for module in modules %}
                                        <option value="{{module.id}}">{{module.module_name}}</option>
                                    {% endfor %}
                                </select>

                                <p class="course-text">Додайте назву уроку:</p>
                                <input type="text" name="lessonname">
                                
                                <p id="error-message-lesson"></p>

                                <input type="submit" value="Створити" name="add_lesson">
                            </form>
                        </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModuleModal" tabindex="-1" aria-labelledby="exampleModuleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="add-change-module-name">
                            <form action="" method="post" id="addmoduleform">
                                {% csrf_token %}
                                <p class="course-text">Додайте назву модулю:</p>
                                <input type="text" name="modulename">

                                <p class="course-text">Виберіть курс:</p>
                                <select name="course_id" required>
                                    {% for course in courses %}
                                        <option value="{{course.id}}">{{course.course_name}}</option>
                                    {% endfor %}
                                </select>

                                
                                <p id="error-message-module"></p>

                                <input type="submit" value="Створити" name="add_module">
                            </form>
                        </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="TaskDeletingConfirmModal" tabindex="-1" aria-labelledby="TaskDeletingConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header deleting-confirm">
                        <p>Ви дійсно хочете видалити це завдання?</p>

                        <div class="delete-task-confirm">
                            <form action="" method="post" id="delete-task-confirm-form">
                                {% csrf_token %}

                                <input type="submit" value="Так" name="delete-confirm" id="delete-confirm" data-bs-dismiss="modal">
                            </form>
                            <button data-bs-dismiss="modal" id="delete-unconfirm">Ні</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModuleDeletingConfirmModal" tabindex="-1" aria-labelledby="ModuleDeletingConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header deleting-confirm">
                        <p>Ви дійсно хочете видалити цей модуль?</p>

                        <div class="delete-task-confirm">
                            <form action="" method="post" id="delete-module-confirm-form">
                                {% csrf_token %}

                                <input type="submit" value="Так" name="delete-confirm" id="delete-confirm" data-bs-dismiss="modal">
                            </form>
                            <button data-bs-dismiss="modal" id="delete-unconfirm">Ні</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}