{% load static %}

<div class="course-block">
    <div class="course-icon-block clickable-task" onclick="window.location.href='{{task_url}}'">
        <img src="{% static 'images/finished.png' %}" alt="finished-img" class="course-imgs">
    </div>
    <div class="task-change-icons">
        <form method="post" class="delete-task-form" action="">
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{task.id}}">
            <input type="hidden" name="lesson_id" value="{{lesson_id}}">
            <button type="submit" name="delete_task" class="delete-task-btn" data-bs-toggle="modal" data-bs-target="#TaskDeletingConfirmModal">
                <img src="{% static 'images/delete.png' %}" alt="change-task-img" class="small-course-imgs">
            </button>
        </form>
    </div>
    <div class="task-name-popup" onclick="window.location.href='{{task_url}}'">{{task.task_name}}</div>
</div>