{% extends 'course/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <script src="{% static 'js/words_task.js' %}" defer></script>
    <script>
        const allTasksUrl = "{% url 'course' %}"
    </script>
{% endblock %}

{% block content %}
    <h1>{{task.task_name}}</h1>

    <div class="task-buttons">
        <!-- кнопка, ну или ссылка для возвращения на страницу курса -->
        <a href="{% url 'course' %}"><button class="task-nav-buttons">До уроку</button></a>
        <!-- форма для кнопки следующего предложения -->
        <form id="nexttaskform">
            {% csrf_token %}
            <!-- <input type="submit" class="task-nav-buttons" value="Наступне"> -->
        </form>
    </div>
        
    <div id="task-data" data-current-index="0" data-task-id="{{task.id}}">
        <!-- рандомные слова для первого предложения -->
        <p id="randomwords_first" style="display: none; visibility: hidden;">{% for word in additional_words_first %} {{word}}{% endfor %}</p>
        <!-- английское предложения, для первого предложения -->
        <p class="sentence" id="column1" style="display: none; visibility: hidden;">{{first_english_sentence}}</p>
        <p class="sentence" id="column2">{{first_ukrainian_sentence}}</p>
        <div class="final-sentence-undo">
            <div class="final-sentence-place">
                <p class="final-sentence"></p>
            </div>
            <!-- кнопка удаления слов -->
            <button class="undo-btn"><img src="{% static 'images/undo.png' %}" alt="undo-img" style="width: 30px; height: 30px;"></button>
        </div>
    </div>

    <div class="words-block">
        <button class="word-button">1</button>
        <button class="word-button">1</button>
        <button class="word-button">1</button>

        <button class="word-button">1</button>
        <button class="word-button">1</button>
        <button class="word-button">1</button>
        
        <button class="word-button">1</button>
        <button class="word-button">1</button>
        <button class="word-button">1</button>
    </div>

    <div class="progress-bar">
        {% for i in sentences_len %}
            <div class="progress-bar-cell">{{i}}</div>
            <!-- <div class="{% if user_progress.get_i == 1 %}correct{% elif user_progress.get_i == 0 %}incorrect{% endif %}"></div> -->
        {% endfor %}
    </div>
{% endblock %}