#courses {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.course-text {
    font-size: 26px;
}

.course-icon-block {
    border: 5px solid black;
    border-radius: 16px;
    padding: 10px;
    max-width: 110px;
    max-height: 110px;
}

.course-icon-block.add-task-icon-block {
    margin-top: -5px;
}

.course-icon-block.clickable-task {
    cursor: pointer;
}

.course-imgs {
    width: 80px;
    height: 80px;
}

.course-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.task-change-icons {
    height: 35px;
}


.small-course-imgs {
    width: 35px;
    height: 35px;
    transition: all 150ms ease-in-out;
}

.small-course-imgs:hover {
    width: 30px;
    height: 30px;
}

.task-change-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.edit-task-btn {
    background-color: transparent;
    border: transparent;
}

.delete-task-btn {
    background-color: transparent;
    border: transparent;
    padding: 0;
}

.course-block {
    position: relative;
    transition: all 150ms ease-in-out;
}

.task-name-popup {
    display: block;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.course-block:hover .task-name-popup {
    opacity: 1;
}

.task-links-block {
    display: flex;
    flex-direction: column;
}

.course-block.add-task-block {
    cursor: pointer;
}

.task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.task-nav-buttons {
    border: transparent;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0 0 2px black;
    padding: 5px 10px;
    width: 100px;
    transition: all 150ms ease-in-out;
}

.task-nav-buttons:hover {
    background-color: #dedede;
}

.sentence {
    font-size: 28px;
}

.words-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.word-button {
    width: 30%;
    background-color: #23232300;
    border: 2px solid rgb(28, 28, 28);
    border-radius: 16px;
    padding: 20px;
    transition: all 150ms ease-in-out;
}

.word-button:hover {
    background-color: rgb(28, 28, 28);
    color: #fff;
}